/*FORMATAÇÃO DO TEXTO E MENU*/

body{
    background-color: white;
    color:rgb(42, 27, 74);
font-size: 22px;
font-family: 'Times New Roman', Times, serif;
max-width: 1200px;
margin: 0 auto;
padding: 15px;


}

.di{
    background-color: rgb(141, 118, 207);

}
#title{
flex-direction: column;
line-height: 10px;

}


 

 ul {
     display: flex;
     justify-content: space-between;
     list-style-type: none;
     align-items: center;
     padding: 16px;
     
    }

    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size:27px;
        
        
     }

   h2{
    color: rgb(18, 3, 32);
    font-family: 'Times New Roman', Times, serif;
    font-size:40px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    line-height: 10px;

   }
    

    a {
        color: rgb(57, 23, 81);
        text-decoration: none;
        margin: 20px;
        font-size:20px;


     }

    
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
    

    
/*FORMATAÇÃO DO BOTÃO*/


    .btn{
        display: block;
        margin-right: auto;
        margin-left: auto;
padding: 3px 3px;
height: 55px;
width:380px;
color: white;
background-color: rgb(131, 111, 186);
border: 1px solid rgb(62, 22, 89);
border-radius: 12px;
text-align: center;
user-select: none;
cursor: pointer;
margin-bottom: 30px;
align-items: center;




    }

 .btn:hover{
  /*background-color: rgb(171, 143, 249);
    transition: background 1s;*/
    transform: scale(1.02);
 }

header {
background-color: rgb(141, 118, 207);
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

}

header1 {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    }


.btn1{
    display: block;
    margin-right: auto;
    margin-left: auto;
padding: 5px 5px;
height: 55px;
width:380px;
color: white;
background-color: rgb(131, 111, 186);
border: 1px solid rgb(62, 22, 89);
border-radius: 12px;
text-align: center;
user-select: none;
cursor: pointer;
margin-bottom: 30px;
}

.btn1:hover{
    /*background-color: rgb(171, 143, 249);
    transition: background 1s;*/
    transform: scale(1.02);

 }

/*FORMATAÇÃO DAS IMAGENS DO SOBRE NÓS E TEXTOS DESTE MENU*/


header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(54, 24, 119);
    
}

.center{
    
    
    text-align: center;
}




span{color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size:40px;
    display: flex;
}

.infor{
    color: rgb(43, 14, 87);
    text-decoration: none;
    margin: 20px;
    font-size:20px

}
  img {width: 150px;
    height: 150px;

    margin-top: 20px;

  }

h2i{
    
    font-family: 'Times New Roman', Times, serif;
    display: flex;
}

.submenus{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:19px;

}

h1r{

    font-size:20px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}